@import './colors';
@import './vars';



.naviation-wrapper {
    margin-bottom: 20px;

    .navigation {
        .nav-item-element {
            flex-direction: column;
            justify-content: flex-start;
            display: flex;
        
        }
        
        .nav-item-element a {
            text-decoration: none
        }
        
        .nav-item {
            padding: 10px 0 10px 0;
            flex-direction: row;
            justify-content: flex-start;
            display: flex;
            cursor: pointer;
        }
        
        .nav-item .nav-icon,
        .nav-item .nav-text {
            box-sizing: border-box;
            display: flex;
            padding: 0 10px 0 10px; 
        
        }
        .nav-icon img {
            width: 20px;
        }
        
        .nav-item .nav-text {
            font-size: 1.3em;
            font-weight: bold;
            
        }
    }
}

